* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 238, 217);
	margin: 2rem;
	text-align: center;
}

h1,
h2 {
	margin: 2rem 0;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

main {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#add-item-section {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border: 2px solid #222;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 0 5px #222;
}

.labels {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.labels label {
	margin: 1rem 0;
	font-weight: bold;
}

.inputs {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.inputs select,
input {
	margin: 1rem 0;
}

form button {
	margin: 1rem 0;
	background-color: coral;
	padding: 0.5rem;
	font-size: 1rem;
	color: #fff;
	border: 2px solid #222;
	border-radius: 0.5rem;
	cursor: pointer;
}

form button:hover {
	background-color: rgb(255, 90, 30);
}

#chart-section {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chart-container {
	width: 400px;
	height: 310px;
	padding: 0 3rem;
	border: 2px solid #222;
	border-radius: 0.5rem;
	background-color: #fff;
	box-shadow: 0 0 5px #222;
}

#log-section {
	margin: 2rem 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#total {
	height: 100%;
	padding: 1rem;
	font-size: 2rem;
	display: flex;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	border: 2px solid #222;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px #222;
}

#total-calories {
	margin: 0.5rem;
	font-size: 2.5rem;
	font-weight: bold;
}

#food-log {
	margin: 2rem 0;
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.food-item {
	height: auto;
	width: 200px;
	padding: 0.5rem;
	margin: 0.5rem;
	background-color: #fff;
	border: 2px solid #222;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px #222;
}

.food-stats {
	list-style: none;
}

.food-stats li {
	margin: 1rem;
	padding: 0.3rem;
}

.food-stats li:nth-child(1) {
	background-color: rgb(62, 219, 0);
}
.food-stats li:nth-child(2) {
	background-color: rgb(255, 222, 36);
}
.food-stats li:nth-child(3) {
	background-color: rgb(255, 87, 36);
}
.food-stats li:nth-child(4) {
	font-size: large;
}
.food-stats li:nth-child(4) span {
	font-weight: bold;
	font-size: 1.5rem;
}
